<div class="card post" id="postid-{{id}}">
  <div class="post-image">
      <img src="{{data.photo}}" alt="{{data.alt}}" onClick="zoomImage('{{data.photo}}', '{{data.alt}}');">
  </div>
    <div class="post-title">
    <h2>{{data.title}}</h2>
    <h4>{{data.author}} - {{data.date}}</h4>
  </div>
  <div class="post-body">
    {{#each data.content}}
      <p>{{this}}</p>
    {{/each}}
  </div>
</div>
