<div class="card post">
  <div class="post-image">
      <img src="{{photo}}" alt="{{alt}}">
  </div>
    <div class="post-title">
    <h2>{{title}}</h2>
    <h4>{{author}} - {{date}}</h4>
  </div>
  <div class="post-body">
    {{#each content}}
      <p>{{this}}</p>
    {{/each}}
  </div>
</div>
